lib/**/kclvm_cli filter=lfs diff=lfs merge=lfs -text
lib/**/*.dylib   filter=lfs diff=lfs merge=lfs -text
lib/**/*.so      filter=lfs diff=lfs merge=lfs -text
lib/**/*.dll     filter=lfs diff=lfs merge=lfs -text
lib/**/*.exe     filter=lfs diff=lfs merge=lfs -text
lib/**/*.lib     filter=lfs diff=lfs merge=lfs -text
